{% macro render_input(name,placeholder,type="text") %}

<div class="control-group">
    <label for="{{name}}" class="control-label">{{placeholder}}</label>
    <div class="controls">
        <input type="{{type}}" name="{{name}}" placeholder="{{placeholder}}"  value="">
    </div>
</div>
{%endmacro%}

{% marco render_field(field) %}
  <div class="control">
     <div class="controls">
         {{field.label}}
         {{field(**kwargs)|safe}}
     </div>
  </div>
  {%if field.errors%}
  <ul>
    {%for error in field.errors%}
    <il style="color: red;">
        {{error}}
    </il>
    {%endfor%}
  </ul>
  {endif}
{%endmacro%}

