{% extends "layout.html" %}
{% block content%}
  {%from "_macros.html" import render_field%}

  <div class="container">
    <div class="row">
        <form action="/" name="sent" id="form1" method="POST">
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.nombre,class='form-control')}}
                </div>
            </div>

            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.apellidos,class='form-control')}}
                </div>
            </div>

            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.email,clas='form-control')}}
                </div>
            </div>
            <input type="text" class="hidden" name="csrf_token" value="{{csrf_token()}}">
            <input type="submit" name="registrar" id="reg-alum" value="Registrar">
        </form>
    </div>
  </div>
